body {
  padding-top: 5rem;
   background-image: url("../images/louis-hansel-OgDrj7Q8EAw-unsplash.jpg");
    background-color: #fffbf6;
     background-size: cover;
    margin: 0;
      font-family: "Sofia";
}
#Title
{
      font-family: "Pacifico";
}


img{
   
/*
  border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
*/
    border-radius: 30%;
 
  
}

#lblCartCount{
    vertical-align:top;
    margin-left:-20%; 
    margin-top:-10%; 
    
}
nav
{
   /*background-color:burlywood;*/
    
    background-color: transparent;
    font-family: "Sofia";
    position: absolute;

       
}

.collapse navbar-collapse : hover
{
    background-color: burlywood;
}

#BasDePage
{
  /*  background-image: url("/images/marion-michele-036ZNXstxLk-unsplash.jpg");*/
    background-size: 200vh 50vh;
    background-color:#f1e1cd;
    border-radius: 5%;
    
}

.row
{
    margin:0;
}

.navbar-nav mr-auto li a {
    
    color : black;
}

.container
{
    padding: 0;
}




.Box {
   box-sizing: border-box;
    width: 50%;
    height: 500px;
/*    border-radius: 25%;*/
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
/*    background-color:#654321;*/
     background-color:black;
    opacity: 0.8;
    color: whitesmoke;
    margin-left: 20%;
}
.presentation{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size:170%;
}

#row1{
    
    margin-top: 5%;
    
}

/*chanement affectant les telephone de 100 px et plus */
@media only screen and (max-width: 360px)  and (min-width: 100px) {
  /* For mobile phones: */
  /*[class*="col-"] {
    width: 100%;
  }*/
    
   
   nav.navbar {
    background: burlywood;
        opacity: 0.95;
        position:absolute;
       left:0%;
       top:0%;
       margin: 0px;
       padding: 0;
       border-bottom: none;
       width:100%;
        
       z-index:9999;
          /*display: flex;*/
  }
    #logoImage img{
        height: 80px;
        width: 100px;
        padding: 0%;
        margin: 0%;
    }
    #Title{
         font-size: 75%;
        margin: 0%;
        padding: 0%;
    }
    
    button.navbar-toggler{
                border-color: yellow;
        }
    
   
  
    body {
        padding-top: 5rem;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: auto;
        margin: 0;
        font-family: "Sofia";
       
    }
    

    #row1{
       margin-top: 20%;
        
   
    }
    
    #ImgIllustratif{
        margin-left: 11%;
        width: 70%;
    }
    
    .presentation{
    text-align:left;
    width: 80%;
    margin-left: 10%;
    font-size:80%;
    }

    .Box {
   box-sizing: border-box;
    width: 80%;
    height: 500px;
/*    border-radius: 25%;*/
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
/*    background-color:#654321;*/
     background-color:black;
    opacity: 0.8;
    color: whitesmoke;
    margin-left: 5%;
}

    
  
}




/*chanement affectant les telephone de 400 px et plus */
@media only screen and (max-width: 750px)  and (min-width: 370px) {
  /* For mobile phones: */
  /*[class*="col-"] {
    width: 100%;
  }*/
    
   
   nav.navbar {
    background: burlywood;
        opacity: 0.95;
        position:absolute;
       left:0%;
       top:0%;
       margin: 0px;
       padding: 0;
       border-bottom: none;
       width:100%;
        
       z-index:9999;
          /*display: flex;*/
  }
    #logoImage img{
        height: 80px;
        width: 100px;
        padding: 0%;
        margin: 0%;
    }
    #Title{
         font-size: 75%;
        margin: 0%;
        padding: 0%;
    }
    
    button.navbar-toggler{
                border-color: yellow;
        }
    
   
  
    body {
        padding-top: 5rem;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: auto;
        margin: 0;
        font-family: "Sofia";
       
    }
    

    #row1{
       margin-top: 20%;
        
   
    }
    
    #ImgIllustratif{
        margin-left: 11%;
        width: 70%;
    }
    
    .presentation{
    text-align:left;
    width: 80%;
    margin-left: 10%;
    font-size:100%;
    }

    .Box {
   box-sizing: border-box;
    width: 80%;
    height: 500px;
/*    border-radius: 25%;*/
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
/*    background-color:#654321;*/
     background-color:black;
    opacity: 0.8;
    color: whitesmoke;
    margin-left: 5%;
}

    
  
}

/*changement pour le mode ipad*/


@media only screen and (max-width: 800px)  and (min-width:450px) 
{
    body {
         background-size: cover;
          background-attachment: fixed;
    }
    
    nav.navbar {
   
        position:absolute;
       left:0%;
       top:0%;
       margin: 0px;
       padding: 0;
       border-bottom: none;
       width:100%;
        
       z-index:9999;
          /*display: flex;*/
  }
     #logoImage img{
        height: 80px;
        width: 100px;
        padding: 0%;
        margin: 0%;
    }
    
    #row1{
  margin-top: 30%;
        
   
    }
    
    #ImgIllustratif{

        width: 40%;
        
    }
    
    .presentation{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size:100%;
  
    }
    .Box {
   box-sizing: border-box;
    width: 50%;
    height: 400px;
  
   
    opacity: 0.8;
    color: whitesmoke;

    margin-top: 0%;
}

    
}


/*changement pour le mode ipadPro*/
@media only screen and (max-width: 1300px) and (min-width: 800px) 
{
    body {
         background-size: cover;
          background-attachment: fixed;
    }
    
    #row1{
       margin-top: 30%;
        
   
    }
    
    #ImgIllustratif{
        
        width: 93%;
    }
    
    .presentation{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size:140%;
    }

    
}


