body {
  padding-top: 5rem;
   background-image: url("../images/daniel-salgado-1Zk4TMt1P6U-unsplash.jpg");
     background-repeat:no-repeat;
    background-color: #fffbf6;

     background-size: cover;
    margin: 0;
      font-family: "Sofia";
       
}

